
# Created by https://www.toptal.com/developers/gitignore/api/vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

jwtkey
static/
# End of https://www.toptal.com/developers/gitignore/api/vuejs
