ul li {
    list-style-type: none;
    cursor: pointer;
}

#tree {
    display: block;
    float: left;
    width: 250px;
    border: 1px solid black;
    height: 100%;
    min-height: 400px;
    overflow-x: scroll;
}

.right {
    display: block;
    float: left;
    padding: 30px;
    width: calc(100% - 350px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.container>div {
    display: block;
}