<div id="logo"></div>
bbb
<input @model="user" type="text">
<input @model="pass" type="text">
<button @Click="login">login</button>
<script>
    var calo = makeCalo({
        model: {
            user: 'calo', pass: '456'
        },
        login: function () {
            const payload = this.model
            this.ajax({
                url: '/api/health', data: payload, success: function (data) {
                    console.log(data)
                    this.model.user = data.ok
                    if (data.ok === true) {
                        // redirect('./main.html')
                        this.navigate('/routeb?id=' + 55)
                    }
                }
            })
        }
    })


    calo.makePlugin('logo', pluginLogo)

</script>